html
  include head
  body
    .container
      .row
        h4 Customer Validation Completed
        .s12
            .card
              .card-action
                p Customer Validation was successfully completed.
                .s12
                    a.btn.waves-effect.waves-dark.blue(href='/customerValidation') Try Demo Again
                        i.material-icons.left check_circle
                    a.btn.waves-effect.waves-dark.blue.blue.right(href='/rideSharing') See Ride Sharing Demo
                        i.material-icons.left arrow_forward

                
      include ack
